{% extends 'layouts/base.html' %}

{% block title %} Billing {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content%}
    <h2>Enter information here!</h2>
<br/>

 <form method="POST" action="{% url 'billing' %}">
{% csrf_token %}
 <div class = "form-group">
    <label for = "exampleInputfname1">Firstname</label>
    <input type= "text" class="form-control" placeholder=" Enter First name here" name="Firstname" value = "{{Firstname}}">
 </div><br/>

 <div class = "form-group">
    <label for = "exampleInputlname1">Lastname</label>
    <input type= "text" class="form-control" placeholder=" Enter Last name here" name="Lastname" value = "{{Lastname}}">
 </div><br/>

 <div class = "form-group">
    <label for = "exampleInputlage1">Age</label>
    <input type= "text" class="form-control" placeholder=" Enter Age here" name="Age" value = "{{Age}}">
 </div><br/>

 <div class="form-group">
    <label for = "exampleInputldate1">Date</label>
    <input type= "date" class="form-control" placeholder=" Enter date here" name="Date" value = "{{Date}}">
</div><br/>

 <div class = "form-group form-check"> 
    <input type= "checkbox" class="form-chek-input" id="examplecheck1">
    <label class = "form-check-label" for="exampleCheck1">please check all the infromation again, and if you are sure, tick this</label>
 </div><br/>

 <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock%}